/* This class is specifically required for Question 3 */
.background-image {
    background-image: url('https://images.unsplash.com/photo-1466781783364-3919913ed4c2?q=80&w=2071&auto=format&fit=crop'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.about-us-container {
    padding: 40px;
    text-align: center;
}